# Ignore binaries
RadarSubsystem/radar_system
ComputerSystem/computer_system

# Momentics user settings files
.settings/
.metadata/
*.prefs

# Ignore any build artifacts
*.o
*.obj
*.so
*.a
*.out
*.elf
*.d
*.dep
*.lst
*.map
*.srec
*.bin
*.hex

# Ignore build directories (if using Make or CMake)
build/
bin/

# QNX-specific build and debug output
workspace.build/
workspace.qnx/
debug/
release/
*.sym
*.pid
*.dmp
*.core

# Ignore log files
*.log

# IDE Indexing and cache
.qnx
*.autosave

# Ignore VM-specific files and folders (adjust if needed)
*vm*/
vm1
vm1/
vm2/
.qnx_vm/
.qnx_sdp/
